.row{
    margin-top: 4rem;

}
p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dueandpr{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
}
.form-check{
    display: flex;
    justify-content: space-between;
}
.newtask{
    margin-top: -90px;
}